## Base Parque Automotriz

In [1]:
# Import librerías

import pandas as pd

In [2]:
# Carga Base Parque

URL = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Parque Automotriz/Parque en Bruto para Modelo/' 
URL_TRAD = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Parque Automotriz/Parque en Bruto para Modelo/Traductores/' 

df_parque = pd.read_table(URL + 'BaseParque2020.txt', sep = '|')

In [3]:
df_parque.head(5)

,ppu,dv_ppu,tipo,marca,modelo,ano_fab,color,motor,chasis,transfer,rut_ant,dv_ant,rut,dv,nomtot,veh_rut,tasac2020
0,AC9316,7,AUTOMOVIL,LADA,21053 1.5,1993,NEGRO,2323226,1305579,20060802,9629390,9,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,2,320000
1,AC9317,5,CAMIONETA,CHEVROLET,LUV 2.3 D CAB,1993,AZUL,235034,TFR16HDL-E-B-1471,20010621,3222026,6,3222026,6,PAILLAMAN COTAR TORIBIO,1,720000
2,AC9318,3,AUTOMOVIL,PEUGEOT,605 SLI 2.0,1993,BEIGE,1635,874207,20080102,8937861,3,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,3,1000000
3,AC9319,1,CAMIONETA,CHEVROLET,LUV 4X4 D CAB CKD E,1993,ROJO,237353,TFS16HDL-E-0423,20150630,10077682,0,10077682,0,PALMA SILVA DAVID IGNACIO,1,730000
4,AC9320,5,CAMIONETA,CHEVROLET,LUV 2.3 D CAB,1993,AZUL,232862,TFR16HDL-E-B-1354,20071219,15745597,4,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,1,720000

In [4]:
df_parque['ppu'].count()

7842085

Campos: <br/>

**ppu**: Patente (Placa Patente Única) <br />
**dv_ppu**:Dígito verificador de la patente  <br />
**tipo**: Tipo del vehículo  <br />
**ano_fab**: Año de fabricación del vehículo <br />
**marca**: Marca del vehículo  <br />
**modelo**: Modelo del vehículo  <br />
**color**: Color del vehículo  <br />
**motor**: Motor del vehículo  <br />
**chasis**: Chasís del motor  <br />
**transfer**:  <br />
**rut_ant**:  <br />
**dv_ant**:  <br />
**rut**: Rut sin digito verificador del dueño  <br />
**dv**: Dígito verificador del rut  <br />
**nomtot**: Nombre del dueño del vehículo  <br />
**veh_rut**:  <br />
**tasac2020**: Tasación 2020  <br />

In [5]:
df_parque['llave_marca_modelo'] = df_parque['marca']+'-'+df_parque['modelo']

# Filtro de campos relevantes

df_parque = df_parque[['ppu','dv_ppu','tipo','ano_fab','marca','modelo','llave_marca_modelo','color','motor','chasis','rut','dv','nomtot']]

In [6]:
df_parque.head(5)

,ppu,dv_ppu,tipo,ano_fab,marca,modelo,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot
0,AC9316,7,AUTOMOVIL,1993,LADA,21053 1.5,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO
1,AC9317,5,CAMIONETA,1993,CHEVROLET,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO
2,AC9318,3,AUTOMOVIL,1993,PEUGEOT,605 SLI 2.0,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO
3,AC9319,1,CAMIONETA,1993,CHEVROLET,LUV 4X4 D CAB CKD E,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO
4,AC9320,5,CAMIONETA,1993,CHEVROLET,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN

### Corrección Tipo Vehículos (marca modelo)

In [7]:
# Corrección Tipo Vehículo v2
# Agregamos Camión Liviano e identificamos nuevos minibus

df_trad2 = pd.read_excel(URL_TRAD+'Base_Traduccion_v2.xlsx',sheet_name='Hoja5')
df_trad2.head()

,marcamodelo,marca,modelo,tipo_veh_trabajo_2
0,ASIA MOTORS-928,ASIA MOTORS,928,MINIBUS
1,ASIA MOTORS-AM 420 CS,ASIA MOTORS,AM 420 CS,CAMION LIVIANO
2,ASIA MOTORS-AM 716 TOPIC 3V,ASIA MOTORS,AM 716 TOPIC 3V,CAMION LIVIANO
3,ASIA MOTORS-AM 815,ASIA MOTORS,AM 815,MINIBUS
4,ASIA MOTORS-AM 815 COMBI,ASIA MOTORS,AM 815 COMBI,MINIBUS

In [8]:
df_trad2 = df_trad2[['marcamodelo','tipo_veh_trabajo_2']]

df_trad2.columns = ['llave_marca_modelo','tipo_veh_trabajo_2']

In [9]:
# Left Join

df_ptp = pd.merge(df_parque, df_trad2, on = 'llave_marca_modelo', how = 'left')
df_ptp.head(5)

,ppu,dv_ppu,tipo,ano_fab,marca,modelo,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,tipo_veh_trabajo_2
0,AC9316,7,AUTOMOVIL,1993,LADA,21053 1.5,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN
1,AC9317,5,CAMIONETA,1993,CHEVROLET,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN
2,AC9318,3,AUTOMOVIL,1993,PEUGEOT,605 SLI 2.0,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN
3,AC9319,1,CAMIONETA,1993,CHEVROLET,LUV 4X4 D CAB CKD E,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN
4,AC9320,5,CAMIONETA,1993,CHEVROLET,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN

In [10]:
# Corrección Tipo

df_ptp.loc[df_ptp['tipo_veh_trabajo_2'].notnull(),'Tipo'] = df_ptp['tipo_veh_trabajo_2']
df_ptp.loc[df_ptp['Tipo'].isnull(),'Tipo'] = df_ptp['tipo']

In [11]:
#Ejemplo

df_ptp.loc[26]

ppu                                       AC9346
dv_ppu                                         9
tipo                                      CAMION
ano_fab                                     1993
marca                                      ISUZU
modelo                                       NKR
llave_marca_modelo                     ISUZU-NKR
color                                     BLANCO
motor                                     742514
chasis                        JAANKR55LP-7100547
rut                                      3791405
dv                                             3
nomtot                GARCIA SAAVEDRA JOSE MINTO
tipo_veh_trabajo_2                CAMION LIVIANO
Tipo                              CAMION LIVIANO
Name: 26, dtype: object

In [12]:
# Eliminación columnas sobrantes

df_ptp = df_ptp.drop('tipo',1)
df_ptp = df_ptp.drop('tipo_veh_trabajo_2',1)

df_ptp.head()

,ppu,dv_ppu,ano_fab,marca,modelo,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,Tipo
0,AC9316,7,1993,LADA,21053 1.5,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,AUTOMOVIL
1,AC9317,5,1993,CHEVROLET,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,CAMIONETA
2,AC9318,3,1993,PEUGEOT,605 SLI 2.0,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,AUTOMOVIL
3,AC9319,1,1993,CHEVROLET,LUV 4X4 D CAB CKD E,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,CAMIONETA
4,AC9320,5,1993,CHEVROLET,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,CAMIONETA

In [13]:
df_ptp['ppu'].count()

7842085

### Traductor Pesados

In [14]:
# Traductor Pesado
# (Viene con valores duplicados)

df_tradpes = pd.read_csv(URL_TRAD+'TraduccionPesados.csv', sep = ';')
df_tradpes.columns = ['ppu','tp_llave','tp_marca_fantasia','tp_modelo_fantasia','tp_motor_fantasia','tp_marcaMotor',
                      'tp_vigencia','tipo_veh_trabajo','tp_sucursales_cobertura','tp_Marca & Modelo']

df_tradpes.head()

,ppu,tp_llave,tp_marca_fantasia,tp_modelo_fantasia,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,tipo_veh_trabajo,tp_sucursales_cobertura,tp_Marca & Modelo
0,AB1913,KIABESTA,KIA MOTORS,BESTA,D4BX / KIA MOTORS,KIA MOTORS,V,MINIBUS,Calama,KIA MOTORS BESTA
1,AB2366,KIABESTA 12 C EST,KIA MOTORS,BESTA,R2 / KIA MOTORS,KIA MOTORS,V,MINIBUS,Calama,KIA MOTORS BESTA
2,AB2376,KIAPREGIO GS 2.7,KIA MOTORS,BESTA,R2 / KIA MOTORS,KIA MOTORS,V,MINIBUS,Calama,KIA MOTORS BESTA
3,AB2378,HYUNDAIGRACE 2.5,HYUNDAI,GRACE H 100,D4BX / HYUNDAI,HYUNDAI,V,MINIBUS,Calama,HYUNDAI GRACE H 100
4,AB2385,MERCEDES BENZ1315,MERCEDES BENZ,ATEGO 1315,OM-904-LA / MERC. BENZ,MERCEDES BENZ,V,CAMION,Calama,MERCEDES BENZ ATEGO 1315

In [15]:
# Elimación de campos no relevantes

df_tradpes = df_tradpes[['ppu','tp_marca_fantasia','tp_modelo_fantasia','tp_motor_fantasia','tp_marcaMotor','tp_vigencia',
                        'tipo_veh_trabajo']]

In [16]:
df_tradpes.head()

,ppu,tp_marca_fantasia,tp_modelo_fantasia,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,tipo_veh_trabajo
0,AB1913,KIA MOTORS,BESTA,D4BX / KIA MOTORS,KIA MOTORS,V,MINIBUS
1,AB2366,KIA MOTORS,BESTA,R2 / KIA MOTORS,KIA MOTORS,V,MINIBUS
2,AB2376,KIA MOTORS,BESTA,R2 / KIA MOTORS,KIA MOTORS,V,MINIBUS
3,AB2378,HYUNDAI,GRACE H 100,D4BX / HYUNDAI,HYUNDAI,V,MINIBUS
4,AB2385,MERCEDES BENZ,ATEGO 1315,OM-904-LA / MERC. BENZ,MERCEDES BENZ,V,CAMION

In [17]:
# Parque con Traducción Pesados

df_ptp = pd.merge(df_ptp, df_tradpes, on = 'ppu', how = 'left')

In [18]:
df_ptp.head(5)

,ppu,dv_ppu,ano_fab,marca,modelo,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,Tipo,tp_marca_fantasia,tp_modelo_fantasia,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,tipo_veh_trabajo
0,AC9316,7,1993,LADA,21053 1.5,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,AUTOMOVIL,NaN,NaN,NaN,NaN,NaN,NaN
1,AC9317,5,1993,CHEVROLET,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,CAMIONETA,NaN,NaN,NaN,NaN,NaN,NaN
2,AC9318,3,1993,PEUGEOT,605 SLI 2.0,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,AUTOMOVIL,NaN,NaN,NaN,NaN,NaN,NaN
3,AC9319,1,1993,CHEVROLET,LUV 4X4 D CAB CKD E,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,CAMIONETA,NaN,NaN,NaN,NaN,NaN,NaN
4,AC9320,5,1993,CHEVROLET,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,CAMIONETA,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Corrección marca

df_ptp.loc[df_ptp['tp_marca_fantasia'].isnull(),'Marca'] = df_ptp['marca']
df_ptp.loc[df_ptp['Marca'].isnull(),'Marca'] = df_ptp['tp_marca_fantasia']

df_ptp = df_ptp.drop('tp_marca_fantasia',1)
df_ptp = df_ptp.drop('marca',1)

df_ptp.head()

,ppu,dv_ppu,ano_fab,modelo,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,Tipo,tp_modelo_fantasia,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,tipo_veh_trabajo,Marca
0,AC9316,7,1993,21053 1.5,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,AUTOMOVIL,NaN,NaN,NaN,NaN,NaN,LADA
1,AC9317,5,1993,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,CAMIONETA,NaN,NaN,NaN,NaN,NaN,CHEVROLET
2,AC9318,3,1993,605 SLI 2.0,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,AUTOMOVIL,NaN,NaN,NaN,NaN,NaN,PEUGEOT
3,AC9319,1,1993,LUV 4X4 D CAB CKD E,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,CAMIONETA,NaN,NaN,NaN,NaN,NaN,CHEVROLET
4,AC9320,5,1993,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,CAMIONETA,NaN,NaN,NaN,NaN,NaN,CHEVROLET

In [20]:
# Corrección tipo vehículo

df_ptp.loc[df_ptp['tipo_veh_trabajo'].isnull(),'Tipo_Final'] = df_ptp['Tipo']
df_ptp.loc[df_ptp['Tipo_Final'].isnull(),'Tipo_Final'] = df_ptp['tipo_veh_trabajo']

df_ptp = df_ptp.drop('tipo_veh_trabajo',1)
df_ptp = df_ptp.drop('Tipo',1)
df_ptp['Tipo'] = df_ptp['Tipo_Final']
df_ptp = df_ptp.drop('Tipo_Final',1)

df_ptp.head()

,ppu,dv_ppu,ano_fab,modelo,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,tp_modelo_fantasia,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo
0,AC9316,7,1993,21053 1.5,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,NaN,LADA,AUTOMOVIL
1,AC9317,5,1993,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,NaN,CHEVROLET,CAMIONETA
2,AC9318,3,1993,605 SLI 2.0,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL
3,AC9319,1,1993,LUV 4X4 D CAB CKD E,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,NaN,CHEVROLET,CAMIONETA
4,AC9320,5,1993,LUV 2.3 D CAB,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,NaN,CHEVROLET,CAMIONETA

In [21]:
# Corrección modelo

df_ptp.loc[df_ptp['tp_modelo_fantasia'].isnull(),'Modelo'] = df_ptp['modelo']
df_ptp.loc[df_ptp['Modelo'].isnull(),'Modelo'] = df_ptp['tp_modelo_fantasia']

df_ptp = df_ptp.drop('tp_modelo_fantasia',1)
df_ptp = df_ptp.drop('modelo',1)

df_ptp.head()

,ppu,dv_ppu,ano_fab,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo
0,AC9316,7,1993,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5
1,AC9317,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB
2,AC9318,3,1993,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0
3,AC9319,1,1993,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E
4,AC9320,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB

In [22]:
df_ptp['Tipo'].unique()

array(['AUTOMOVIL', 'CAMIONETA', 'CAMION', 'FURGON', 'MINIBUS', 'MOTO',
       'BICIMOTO', 'JEEP', 'STATION WAGON', 'TRACTOR', 'CAMION LIVIANO',
       'CUATRIMOTO', 'MOTONETA', 'AMBULANCIA', 'MAQUINA INDUSTRIAL',
       'LOC. COLECTIVA', 'CASA RODANTE MOTOR', 'CHASSIS', 'BUS',
       'TRIMOTO', 'MAQUINA AGRICOLA', 'CARROBOMBA', 'TRICICLO CON MOTOR',
       'COCHE MORTUORIO', 'TROLEBUS', 'REMOLQUE', 'BUGGI', 'LIMUSINA',
       'BICICLETA MOTOR', 'TRACTOR ANFIBIO', 'MAQ. INDUSTRIAL',
       'TODO TERRENO'], dtype=object)

In [23]:
# Actualizamos llave marca modelo

df_ptp['llave_marca_modelo'] = df_ptp['Marca']+'-'+df_ptp['Modelo']

In [24]:
df_ptp.head()

,ppu,dv_ppu,ano_fab,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo
0,AC9316,7,1993,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5
1,AC9317,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB
2,AC9318,3,1993,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0
3,AC9319,1,1993,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E
4,AC9320,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB

In [25]:
df_ptp['ppu'].count()

7842085

### Traducción Livianos

In [26]:
df_tl = pd.read_excel(URL_TRAD+'TraduccionLivianos.xlsx', sheet_name = 'Hoja1')
df_tl.columns = ['llave_livianos','tl_marca_fantasia','tl_modelo_fantasia']

In [27]:
df_tl.head()

              llave_livianos tl_marca_fantasia tl_modelo_fantasia
0  FIAT 500X CROSS MT HB 1.4              FIAT                500
1    FIAT 500X CROSS TCT 1.4              FIAT                500
2  FIAT 500X CROSS TCT 1.4 A              FIAT                500
3  FIAT 500X CROSS TCT HB 1.              FIAT                500
4           FIAT 500X HB 1.6              FIAT                500

In [28]:
df_ptp['llave_livianos'] = df_ptp['Modelo']+' '+df_ptp['Marca']

In [29]:
# Left Join

df_ptp = pd.merge(df_ptp, df_tl, on = 'llave_livianos', how = 'left')
df_ptp.head()

,ppu,dv_ppu,ano_fab,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo,llave_livianos,tl_marca_fantasia,tl_modelo_fantasia
0,AC9316,7,1993,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5,21053 1.5 LADA,NaN,NaN
1,AC9317,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,LUV 2.3 D CAB CHEVROLET,NaN,NaN
2,AC9318,3,1993,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0,605 SLI 2.0 PEUGEOT,NaN,NaN
3,AC9319,1,1993,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,LUV 4X4 D CAB CKD E CHEVROLET,NaN,NaN
4,AC9320,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,LUV 2.3 D CAB CHEVROLET,NaN,NaN

In [30]:
# Corrección Marca

df_ptp.loc[df_ptp['tl_marca_fantasia'].isnull(),'Marca_Final'] = df_ptp['Marca']
df_ptp.loc[df_ptp['Marca_Final'].isnull(),'Marca_Final'] = df_ptp['tl_marca_fantasia']

df_ptp['Marca'] = df_ptp['Marca_Final']
df_ptp = df_ptp.drop('Marca_Final',1)
df_ptp = df_ptp.drop('tl_marca_fantasia',1)

df_ptp.head()

,ppu,dv_ppu,ano_fab,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo,llave_livianos,tl_modelo_fantasia
0,AC9316,7,1993,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5,21053 1.5 LADA,NaN
1,AC9317,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,LUV 2.3 D CAB CHEVROLET,NaN
2,AC9318,3,1993,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0,605 SLI 2.0 PEUGEOT,NaN
3,AC9319,1,1993,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,LUV 4X4 D CAB CKD E CHEVROLET,NaN
4,AC9320,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,LUV 2.3 D CAB CHEVROLET,NaN

In [31]:
# Corrección Modelo

df_ptp.loc[df_ptp['tl_modelo_fantasia'].isnull(),'Modelo_Final'] = df_ptp['Modelo']
df_ptp.loc[df_ptp['Modelo_Final'].isnull(),'Modelo_Final'] = df_ptp['tl_modelo_fantasia']

df_ptp['Modelo'] = df_ptp['Modelo_Final']
df_ptp = df_ptp.drop('tl_modelo_fantasia',1)
df_ptp = df_ptp.drop('Modelo_Final',1)

df_ptp.head()

,ppu,dv_ppu,ano_fab,llave_marca_modelo,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo,llave_livianos
0,AC9316,7,1993,LADA-21053 1.5,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5,21053 1.5 LADA
1,AC9317,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,LUV 2.3 D CAB CHEVROLET
2,AC9318,3,1993,PEUGEOT-605 SLI 2.0,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0,605 SLI 2.0 PEUGEOT
3,AC9319,1,1993,CHEVROLET-LUV 4X4 D CAB CKD E,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,LUV 4X4 D CAB CKD E CHEVROLET
4,AC9320,5,1993,CHEVROLET-LUV 2.3 D CAB,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,LUV 2.3 D CAB CHEVROLET

In [32]:
# Eliminamos las columnas que ya no necesitamos
df_ptp = df_ptp.drop('llave_marca_modelo',1)
df_ptp = df_ptp.drop('llave_livianos',1)

df_ptp.head()

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB

In [33]:
df_ptp['ppu'].count()

7842085

### Listado de Modelos a Trabajar

In [35]:
# Target Repuestos

df_lmat = pd.read_excel(URL_TRAD+'Listado de modelos a trabajar.xlsx', sheet_name = 'BD')
df_lmat.columns = ['Marca','Modelo','llave_marcamodelo','lmat_vigencia']

df_lmat = df_lmat[['llave_marcamodelo','lmat_vigencia']]

In [36]:
# Left join

df_ptp['llave_marcamodelo'] = df_ptp['Marca']+' '+df_ptp['Modelo']

df_ptp = pd.merge(df_ptp, df_lmat, on = 'llave_marcamodelo', how = 'left')

In [37]:
df_ptp = df_ptp.drop('llave_marcamodelo',1)

In [38]:
df_ptp.head()

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo,lmat_vigencia
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5,NaN
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0,NaN
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,NaN
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN

In [39]:
df_ptp.to_csv('C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Parque Automotriz/Parque en Bruto para Modelo/ParqueAutomotriz2020.csv', index= False)