In [129]:
import pandas as pd

In [130]:
URL = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/SII/'

In [131]:
# SII

pd_sii = pd.read_table(URL + 'WEB_ACTECOS_202106.txt')

In [132]:
pd_sii.head()

,Rut,Dv,Codigo Actividad,Desc. Actividad Economica,Razon Social
0,47013211,6,960909,OTRAS ACTIVIDADES DE SERVICIOS PERSONALES N.C.P.,ITAU GLOBAL INVESTMENT FUND SPC - ITAU GLOBAL ...
1,50000066,K,643000,FONDOS Y SOCIEDADES DE INVERSION Y ENTIDADES F...,SUC MARIA DIASPRO PARFUMO
2,50000100,3,879000,OTRAS ACTIVIDADES DE ATENCION EN INSTITUCIONES,FUNDACION ARTURO IRARRAZAVAL CORREA
3,50000430,4,472101,VENTA AL POR MENOR DE ALIMENTOS EN COMERCIOS E...,SAAVEDRA GALLARDO JAVIER Y HERMANOS
4,50000510,6,492300,TRANSPORTE DE CARGA POR CARRETERA,TORREJON CASTRO LUIS Y JOSE

In [133]:
pd_sii.shape

(3204966, 5)

In [134]:
pd_sii[pd_sii['Rut'] == 77209828]

,Rut,Dv,Codigo Actividad,Desc. Actividad Economica,Razon Social
2607235,77209828,6,453000,"VENTA DE PARTES, PIEZAS Y ACCESORIOS PARA VEHI...",TOP REMAN SPA
2607236,77209828,6,522190,ACTIVIDADES DE SERVICIOS VINCULADAS AL TRANSPO...,TOP REMAN SPA

In [135]:
# Prioridad

pd_actp = pd.read_excel(URL + 'RubrosActividades.xlsx', sheet_name = 'Hoja1')
pd_actp = pd_actp[['CODIGO','PRIORIDAD']]
pd_actp.columns = ['Codigo Actividad','Prioridad']

pd_actp.head()

   Codigo Actividad  Prioridad
0            492300          1
1            492120          2
2            492130          2
3            492190          2
4            492210          2

In [136]:
# Left Join

pd_sii = pd.merge(pd_sii, pd_actp, on = 'Codigo Actividad', how = 'left')

In [137]:
pd_sii.loc[pd_sii['Rut'] == 76646610]

,Rut,Dv,Codigo Actividad,Desc. Actividad Economica,Razon Social,Prioridad
1476060,76646610,9,475901,VENTA AL POR MENOR DE MUEBLES Y COLCHONES EN C...,JASA S A,100
1476061,76646610,9,451002,VENTA AL POR MENOR DE VEHICULOS AUTOMOTORES NU...,JASA S A,5
1476062,76646610,9,475201,VENTA AL POR MENOR DE ARTICULOS DE FERRETERIA ...,JASA S A,100
1476063,76646610,9,453000,"VENTA DE PARTES, PIEZAS Y ACCESORIOS PARA VEHI...",JASA S A,4

In [138]:
pd_sii = pd_sii.sort_values('Prioridad', ascending = True)

In [139]:
pd_sii.loc[pd_sii['Rut'] == 76646610]

,Rut,Dv,Codigo Actividad,Desc. Actividad Economica,Razon Social,Prioridad
1476063,76646610,9,453000,"VENTA DE PARTES, PIEZAS Y ACCESORIOS PARA VEHI...",JASA S A,4
1476061,76646610,9,451002,VENTA AL POR MENOR DE VEHICULOS AUTOMOTORES NU...,JASA S A,5
1476060,76646610,9,475901,VENTA AL POR MENOR DE MUEBLES Y COLCHONES EN C...,JASA S A,100
1476062,76646610,9,475201,VENTA AL POR MENOR DE ARTICULOS DE FERRETERIA ...,JASA S A,100

In [140]:
# RUbros

pd_rubros = pd.read_excel(URL + 'RubrosActividades.xlsx', sheet_name = 'Hoja1')
pd_rubros = pd_rubros[['RUBRO','SUBRUBRO','CODIGO','ACTIVIDAD','RUBRO CAREN','SUBRUBRO CAREN','ACTIVIDAD CAREN']]
pd_rubros.columns = ['RUBRO','SUBRUBRO','Codigo Actividad','ACTIVIDAD','RUBRO CAREN','SUBRUBRO CAREN','ACTIVIDAD CAREN']

In [141]:
pd_rubros.head()

,RUBRO,SUBRUBRO,Codigo Actividad,ACTIVIDAD,RUBRO CAREN,SUBRUBRO CAREN,ACTIVIDAD CAREN
0,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,492300,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTE,TRANSPORTE DE CARGA,TRANSPORTE DE CARGA
1,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,492120,TRANSPORTE URBANO Y SUBURBANO DE PASAJEROS VÍA...,TRANSPORTE,TRANSPORTE DE PASAJEROS,TRANSPORTE DE PASAJEROS
2,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,492130,TRANSPORTE DE PASAJEROS VÍA TAXI COLECTIVO,TRANSPORTE,TRANSPORTE DE PASAJEROS,TRANSPORTE DE PASAJEROS
3,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,492190,OTRAS ACTIVIDADES DE TRANSPORTE URBANO Y SUBUR...,TRANSPORTE,TRANSPORTE DE PASAJEROS,TRANSPORTE DE PASAJEROS
4,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,492210,SERVICIOS DE TRANSPORTE DE ESCOLARES,TRANSPORTE,TRANSPORTE DE PASAJEROS,TRANSPORTE DE PASAJEROS

In [142]:
pd_rubros.shape

(674, 7)

In [143]:
pd_rubros['RUBRO CAREN'].drop_duplicates()

0                                             TRANSPORTE
10                                              COMERCIO
18                                           MANUFACTURA
24     ACTIVIDADES PROFESIONALES, CIENTIFICAS Y TÉCNICAS
25                                             SERVICIOS
26                                           AGRICULTURA
99                                               MINERÍA
290                              SUMINISTRO DE SERVICIOS
310                                         CONSTRUCCIÓN
443                                      OTROS SERVICIOS
455                         INFORMACIÓN Y COMUNICACIONES
487                  INSTITUCIONES FINANCIERAS Y SEGUROS
523                                         INMOBILIARIO
557                 SERVICIOS ADMINISTRATIVOS Y DE APOYO
589                               ADMINISTRACIÓN PÚBLICA
598                    COLEGIOS, UNIVERSIDADES Y CULTURA
612                            SALUD Y ASISTENCIA SOCIAL
628                                        ENTRENIMIENTO
Name: RUBRO CAREN, dtype: object

In [144]:
pd_rubros['ACTIVIDAD CAREN'].drop_duplicates()

0                 TRANSPORTE DE CARGA
1             TRANSPORTE DE PASAJEROS
10     TALLERES/ARMADORES/REPUESTEROS
16                           COMERCIO
18                         INDUSTRIAL
24                          SERVICIOS
25                         RENT A CAR
26                  FAENAS/EXTRACCIÓN
487                LEASING FINANCIERO
589                   MERCADO PÚBLICO
Name: ACTIVIDAD CAREN, dtype: object

In [145]:
pd_rubros['RUBRO CAREN'].drop_duplicates().count()

18

In [146]:
# CASI Final

pd_rubros_sii = pd.merge(pd_sii, pd_rubros, on = 'Codigo Actividad', how = 'left')

In [147]:
pd_rubros_sii.head()

,Rut,Dv,Codigo Actividad,Desc. Actividad Economica,Razon Social,Prioridad,RUBRO,SUBRUBRO,ACTIVIDAD,RUBRO CAREN,SUBRUBRO CAREN,ACTIVIDAD CAREN
0,76747872,0,492300,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTES JAIME ARRATIA STYL E.I.R.L.,1,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTE,TRANSPORTE DE CARGA,TRANSPORTE DE CARGA
1,77267613,1,492300,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTES JUAN CARLOS JIMENEZ ARIAS E.I.R.L.,1,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTE,TRANSPORTE DE CARGA,TRANSPORTE DE CARGA
2,76951795,2,492300,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTES C Y R SPA,1,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTE,TRANSPORTE DE CARGA,TRANSPORTE DE CARGA
3,77267611,5,492300,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTES ELOHIM SPA,1,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTE,TRANSPORTE DE CARGA,TRANSPORTE DE CARGA
4,76089330,7,492300,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTE V Y M LIMITADA,1,TRANSPORTE Y ALMACENAMIENTO,OTRAS ACTIVIDADES DE TRANSPORTE POR VÍA TERRES...,TRANSPORTE DE CARGA POR CARRETERA,TRANSPORTE,TRANSPORTE DE CARGA,TRANSPORTE DE CARGA

In [148]:
pd_rubros_empresa = pd_rubros_sii.groupby(['Rut'])['Dv','RUBRO CAREN','SUBRUBRO CAREN','ACTIVIDAD CAREN'].first().reset_index()

<ipython-input-148-ca086b65e09c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd_rubros_empresa = pd_rubros_sii.groupby(['Rut'])['Dv','RUBRO CAREN','SUBRUBRO CAREN','ACTIVIDAD CAREN'].first().reset_index()

In [149]:
pd_rubros_empresa.head()

,Rut,Dv,RUBRO CAREN,SUBRUBRO CAREN,ACTIVIDAD CAREN
0,47013211,6,OTROS SERVICIOS,OTROS SERVICIOS,SERVICIOS
1,50000066,K,INSTITUCIONES FINANCIERAS Y SEGUROS,INSTITUCIONES FINANCIERAS Y SEGUROS,LEASING FINANCIERO
2,50000100,3,SALUD Y ASISTENCIA SOCIAL,SALUD Y ASISTENCIA SOCIAL,SERVICIOS
3,50000430,4,COMERCIO,OTROS TIPOS DE COMERCIO,COMERCIO
4,50000510,6,TRANSPORTE,TRANSPORTE DE CARGA,TRANSPORTE DE CARGA

In [150]:
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76646610]

,Rut,Dv,RUBRO CAREN,SUBRUBRO CAREN,ACTIVIDAD CAREN
788486,76646610,9,COMERCIO,VENTA DE PARTES Y ACCESORIOS DE VEHÍCULO,TALLERES/ARMADORES/REPUESTEROS

In [151]:
pd_rubros_empresa.shape

(1493490, 5)

In [152]:
# Instituciones financieras y seguros

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76645030, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76645030, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76645030, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97051000, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97051000, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97051000, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97032000, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97032000, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97032000, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97032000, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97032000, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97032000, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76307553, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76307553, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76307553, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99560130, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99560130, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99560130, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76337693, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76337693, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76337693, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76609837, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76609837, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76609837, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97949000, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97949000, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 97949000, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96912590, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96912590, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96912590, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77919930, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77919930, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77919930, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96510300, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96510300, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96510300, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76317712, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76317712, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76317712, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96667560, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96667560, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96667560, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 90146000, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 90146000, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 90146000, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76939935, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76939935, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76939935, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76015508, 'RUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76015508, 'SUBRUBRO CAREN'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76015508, 'ACTIVIDAD CAREN'] = 'LEASING FINANCIERO'


#pd_rubros_empresa.loc[pd_rubros_empresa['Nombre_Empresa'].str.contains("LEASING", case = False, na = False), 'Rubros'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Nombre_Empresa'].str.contains("LEASING", case = False, na = False), 'Sub Rubros'] = 'INSTITUCIONES FINANCIERAS Y SEGUROS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Nombre_Empresa'].str.contains("LEASING", case = False, na = False), 'Actividad'] = 'LEASING FINANCIERO'


# Mineras
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76272766, 'RUBRO CAREN'] = 'MINERÍA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76272766, 'SUBRUBRO CAREN'] = 'MINERÍA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76272766, 'ACTIVIDAD CAREN'] = 'FAENAS/EXTRACCIÓN'


# ADMINISTRACION PUBLICA
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69072500, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69072500, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69072500, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69061100, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69061100, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69061100, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69080100, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69080100, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69080100, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69090500, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69090500, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69090500, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69140800, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69140800, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69140800, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69050700, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69050700, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69050700, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 81380500, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 81380500, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 81380500, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69041200, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69041200, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69041200, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69070100, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69070100, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69070100, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69040700, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69040700, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69040700, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69252500, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69252500, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69252500, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69050500, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69050500, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69050500, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69080200, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69080200, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69080200, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69180400, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69180400, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69180400, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 70783100, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 70783100, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 70783100, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69130200, 'RUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69130200, 'SUBRUBRO CAREN'] = 'ADMINISTRACIÓN PÚBLICA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 69130200, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'


# COLEGIOS, UNIVERSIDADES Y CULTURA

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 60905000 , 'RUBRO CAREN'] = 'COLEGIOS, UNIVERSIDADES Y CULTURA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 60905000 , 'SUBRUBRO CAREN'] = 'COLEGIOS, UNIVERSIDADES Y CULTURA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 60905000, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 71133700 , 'RUBRO CAREN'] = 'COLEGIOS, UNIVERSIDADES Y CULTURA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 71133700 , 'SUBRUBRO CAREN'] = 'COLEGIOS, UNIVERSIDADES Y CULTURA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 71133700, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 71133700 , 'RUBRO CAREN'] = 'COLEGIOS, UNIVERSIDADES Y CULTURA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 71133700 , 'SUBRUBRO CAREN'] = 'COLEGIOS, UNIVERSIDADES Y CULTURA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 71133700, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 70791800 , 'RUBRO CAREN'] = 'COLEGIOS, UNIVERSIDADES Y CULTURA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 70791800 , 'SUBRUBRO CAREN'] = 'COLEGIOS, UNIVERSIDADES Y CULTURA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 70791800, 'ACTIVIDAD CAREN'] = 'MERCADO PÚBLICO'


# SUMINISTRO DE SERVICIO

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 92011000 , 'RUBRO CAREN'] = 'SUMINISTRO DE SERVICIOS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 92011000 , 'SUBRUBRO CAREN'] = 'SUMINISTRO DE SERVICIOS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 92011000, 'ACTIVIDAD CAREN'] = 'SERVICIOS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76411321 , 'RUBRO CAREN'] = 'SUMINISTRO DE SERVICIOS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76411321 , 'SUBRUBRO CAREN'] = 'SUMINISTRO DE SERVICIOS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76411321, 'ACTIVIDAD CAREN'] = 'SERVICIOS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 61808000 , 'RUBRO CAREN'] = 'SUMINISTRO DE SERVICIOS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 61808000 , 'SUBRUBRO CAREN'] = 'SUMINISTRO DE SERVICIOS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 61808000, 'ACTIVIDAD CAREN'] = 'SERVICIOS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96579330 , 'RUBRO CAREN'] = 'SUMINISTRO DE SERVICIOS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96579330 , 'SUBRUBRO CAREN'] = 'SUMINISTRO DE SERVICIOS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96579330, 'ACTIVIDAD CAREN'] = 'SERVICIOS'


# TRANSPORTE
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77721870 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77721870 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77721870 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76750560 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76750560 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76750560 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99559010 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99559010 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99559010 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99566280 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99566280 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99566280 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 79510320 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 79510320 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 79510320 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77189090 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77189090 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77189090 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76257230 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76257230 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76257230 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 78144260 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 78144260 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 78144260 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76310349 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76310349 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76310349 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99529930 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99529930 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99529930 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76133891 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76133891 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76133891 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96776830 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96776830 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 96776830 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76408803 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76408803 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76408803 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76510104 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76510104 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76510104 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76125078 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76125078 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76125078 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 78406290 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 78406290 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76125078 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'


pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76605584 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76605584 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76605584 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'


pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 79620090 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 79620090 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE CARGA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 79620090 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE CARGA'


pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99557440 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99557440 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99557440 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 78775410 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 78775410 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE CARGA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 78775410 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE CARGA'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 6123480 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 6123480 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE CARGA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 6123480 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE CARGA'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 5237035 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 5237035 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE CARGA'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 5237035 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE CARGA'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 8594202 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 8594202 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 8594202 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 10658168 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 10658168 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 10658168 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 7644063 , 'RUBRO CAREN'] = 'TRANSPORTE'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 7644063 , 'SUBRUBRO CAREN'] = 'TRANSPORTE DE PASAJEROS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 7644063 , 'ACTIVIDAD CAREN'] = 'TRANSPORTE DE PASAJEROS'



# COMERCIO
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 52000397 , 'RUBRO CAREN'] = 'COMERCIO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 52000397 , 'SUBRUBRO CAREN'] = 'OTROS TIPOS DE COMERCIO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 52000397 , 'ACTIVIDAD CAREN'] = 'COMERCIO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77024870 , 'RUBRO CAREN'] = 'COMERCIO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77024870 , 'SUBRUBRO CAREN'] = 'OTROS TIPOS DE COMERCIO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77024870 , 'ACTIVIDAD CAREN'] = 'COMERCIO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76620944 , 'RUBRO CAREN'] = 'COMERCIO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77024870 , 'SUBRUBRO CAREN'] = 'OTROS TIPOS DE COMERCIO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77024870 , 'ACTIVIDAD CAREN'] = 'COMERCIO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 86740500 , 'RUBRO CAREN'] = 'COMERCIO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 86740500 , 'SUBRUBRO CAREN'] = 'OTROS TIPOS DE COMERCIO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 86740500 , 'ACTIVIDAD CAREN'] = 'COMERCIO'

# SALUD Y ASISTENCIA SOCIAL
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 70941900 , 'RUBRO CAREN'] = 'SALUD Y ASISTENCIA SOCIAL'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 70941900 , 'SUBRUBRO CAREN'] = 'SALUD Y ASISTENCIA SOCIAL'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 70941900 , 'ACTIVIDAD CAREN'] = 'SERVICIOS'


# TRANSANTIAGO
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99554700 , 'RUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99554700 , 'SUBRUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99554700 , 'ACTIVIDAD CAREN'] = 'TRANSANTIAGO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99557440 , 'RUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99557440 , 'SUBRUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99557440 , 'ACTIVIDAD CAREN'] = 'TRANSANTIAGO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99577390 , 'RUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99577390 , 'SUBRUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99577390 , 'ACTIVIDAD CAREN'] = 'TRANSANTIAGO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99577400 , 'RUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99577400 , 'SUBRUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99577400 , 'ACTIVIDAD CAREN'] = 'TRANSANTIAGO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76071048 , 'RUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76071048 , 'SUBRUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76071048 , 'ACTIVIDAD CAREN'] = 'TRANSANTIAGO'

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99559010 , 'RUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99559010 , 'SUBRUBRO CAREN'] = 'TRANSANTIAGO'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99559010 , 'ACTIVIDAD CAREN'] = 'TRANSANTIAGO'


# RENT A CAR

pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99525100 , 'RUBRO CAREN'] = 'SERVICIOS'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99525100 , 'SUBRUBRO CAREN'] = 'RENT A CAR'
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 99525100 , 'ACTIVIDAD CAREN'] = 'RENT A CAR'


# TURBUS

#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 79510320 , 'RUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 79510320 , 'SUBRUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 79510320 , 'ACTIVIDAD CAREN'] = 'TURBUS'

#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 80228400 , 'RUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 80228400 , 'SUBRUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 80228400 , 'ACTIVIDAD CAREN'] = 'TURBUS'

#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 80314700 , 'RUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 80314700 , 'SUBRUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 80314700 , 'ACTIVIDAD CAREN'] = 'TURBUS'

#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76257230 , 'RUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76257230 , 'SUBRUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76257230 , 'ACTIVIDAD CAREN'] = 'TURBUS'

#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76624170 , 'RUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76624170 , 'SUBRUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76624170 , 'ACTIVIDAD CAREN'] = 'TURBUS'

#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77923410 , 'RUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77923410 , 'SUBRUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77923410 , 'ACTIVIDAD CAREN'] = 'TURBUS'

#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76245825 , 'RUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76245825 , 'SUBRUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 76245825 , 'ACTIVIDAD CAREN'] = 'TURBUS'

#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77721870 , 'RUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77721870 , 'SUBRUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77721870 , 'ACTIVIDAD CAREN'] = 'TURBUS'

#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 80314700 , 'RUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 80314700 , 'SUBRUBRO CAREN'] = 'TURBUS'
#pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 80314700 , 'ACTIVIDAD CAREN'] = 'TURBUS'

In [153]:
# DISTRIBUIDORES BD CAREN

URL2 = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Segmentación Clientes/Segmentación de Clientes para Modelo/'


df_dist = pd.read_excel(URL2 + 'DISTRIBUIDORES.xlsx', sheet_name='Hoja1')

df_dist = df_dist[['Rut', 'ACTIVIDAD BD CAREN']]


df_dist.head()

        Rut              ACTIVIDAD BD CAREN
0  96882280  TALLERES/ARMADORES/REPUESTEROS
1  76646610  TALLERES/ARMADORES/REPUESTEROS
2  76098497  TALLERES/ARMADORES/REPUESTEROS
3  76130435  TALLERES/ARMADORES/REPUESTEROS
4   7253395  TALLERES/ARMADORES/REPUESTEROS

In [154]:
df_dist.shape

(741, 2)

In [155]:
# FINAL

pd_rubros_empresa = pd.merge(pd_rubros_empresa, df_dist, on = 'Rut', how = 'outer')


# Reemplazo
pd_rubros_empresa.loc[pd_rubros_empresa['ACTIVIDAD BD CAREN'].notnull(), 'ACTIVIDAD CAREN'] = pd_rubros_empresa['ACTIVIDAD BD CAREN']

# Eliminar
pd_rubros_empresa = pd_rubros_empresa.drop('ACTIVIDAD BD CAREN', axis = 1)

In [156]:
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 11243503]

,Rut,Dv,RUBRO CAREN,SUBRUBRO CAREN,ACTIVIDAD CAREN
1493675,11243503,NaN,NaN,NaN,TALLERES/ARMADORES/REPUESTEROS

In [157]:
pd_rubros_empresa.loc[pd_rubros_empresa['Rut'] == 77441256]

Empty DataFrame
Columns: [Rut, Dv, RUBRO CAREN, SUBRUBRO CAREN, ACTIVIDAD CAREN]
Index: []

In [158]:
pd_rubros_empresa.to_csv(URL + 'Rubros_modelo.csv', index = False)

In [159]:
pd_rubros_empresa.shape

(1493799, 5)