In [1]:
import pandas as pd

In [2]:
URL = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Parque Automotriz/Parque en Bruto para Modelo/'

In [3]:
df_parque = pd.read_csv(URL + 'ParqueAutomotriz2020_CCR.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_parque.head()

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,...,tp_vigencia,Marca,Tipo,Modelo,lmat_vigencia,Consumo_Teorico_Lubricantes,Consumo_Teorico_Neumaticos,Consumo_Teorico_Repuestos,Consumo_Teorico_Total,RUT_Final
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,...,NaN,LADA,AUTOMOVIL,21053 1.5,NaN,0,37500,0,37500,9629390
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,...,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN,0,37500,0,37500,3222026
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,...,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0,NaN,0,37500,0,37500,8937861
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,...,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,NaN,0,37500,0,37500,10077682
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,...,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN,0,37500,0,37500,15745597

In [5]:
df_dir = pd.read_csv(URL+'Direcciones/df_rut_direcciones_comunasregion_DAXSTUDIO.csv', sep = ';')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df_dir.head()

,RUT,COMUNA_SII,REGION_SII,COMUNA_PARQUE_2019,REGION_PARQUE_2019,COMUNA_PARQUE_2020,REGION_PARQUE_2020,COMUNA_SAAD,REGION_SAAD,REGION DOMICILIO,COMUNA DOMICILIO,Comunas. Latitud,Comunas. Longitud,Comunas.Sucursal Caren,Provincia
0,76065207,SANTIAGO,Región Metropolitana de Santiago,0,0,0,0,0,0,Región Metropolitana de Santiago,SANTIAGO,"-33,2614","-70,3926",Sucursal Santiago,Santiago
1,76065213,SANTIAGO,Región Metropolitana de Santiago,0,0,0,0,0,0,Región Metropolitana de Santiago,SANTIAGO,"-33,2614","-70,3926",Sucursal Santiago,Santiago
2,76065257,SANTIAGO,Región Metropolitana de Santiago,0,0,0,0,0,0,Región Metropolitana de Santiago,SANTIAGO,"-33,2614","-70,3926",Sucursal Santiago,Santiago
3,76065272,SANTIAGO,Región Metropolitana de Santiago,0,0,0,0,0,0,Región Metropolitana de Santiago,SANTIAGO,"-33,2614","-70,3926",Sucursal Santiago,Santiago
4,76065274,SANTIAGO,Región Metropolitana de Santiago,0,0,0,0,0,0,Región Metropolitana de Santiago,SANTIAGO,"-33,2614","-70,3926",Sucursal Santiago,Santiago

In [7]:
df_dir = df_dir[['RUT','REGION DOMICILIO','COMUNA DOMICILIO']]
df_dir.columns = ['RUT_Final','REGION DOMICILIO','COMUNA DOMICILIO']

In [8]:
df_dir.head()

   RUT_Final                  REGION DOMICILIO COMUNA DOMICILIO
0   76065207  Región Metropolitana de Santiago         SANTIAGO
1   76065213  Región Metropolitana de Santiago         SANTIAGO
2   76065257  Región Metropolitana de Santiago         SANTIAGO
3   76065272  Región Metropolitana de Santiago         SANTIAGO
4   76065274  Región Metropolitana de Santiago         SANTIAGO

In [9]:
df_parque.shape

(7842085, 21)

In [10]:
df_dir.shape

(7404749, 3)

In [11]:
df_parque = df_parque[['ppu','RUT_Final']]

In [12]:
df_parque.head()

      ppu  RUT_Final
0  AC9316    9629390
1  AC9317    3222026
2  AC9318    8937861
3  AC9319   10077682
4  AC9320   15745597

In [13]:
df_parquedir = pd.merge(df_parque, df_dir, on = 'RUT_Final', how = 'left')

In [18]:
df_parquedir = df_parquedir[['ppu','REGION DOMICILIO','COMUNA DOMICILIO']]
df_parquedir.head()

      ppu        REGION DOMICILIO COMUNA DOMICILIO
0  AC9316      Región de Coquimbo        SALAMANCA
1  AC9317  Región de La Araucanía  PADRE LAS CASAS
2  AC9318      Región de Coquimbo          ILLAPEL
3  AC9319                       0                0
4  AC9320       Región de Atacama         VALLENAR

In [15]:
df_parquedir.shape

(7842085, 4)

In [17]:
# Base Traducidos

df_tp = pd.read_excel(URL+'/Traductores/Historial/Copia de Copia de Traducción.xlsx', sheet_name='Base veh Pesados')
df_tp.head()

,rutID,nombre,ppu,marca,modelo,tipo_vehiculo,fec_tra,color,resto_color,agno,...,fecha_email,llave,marca_fantasia,modelo_fantasia,motor_fantasia,marcaMotor,vigencia,tipo_veh_trabajo,sucursales_cobertura,Unnamed: 41
0,NaN,NaN,TV4684,NaN,NaN,NaN,NaN,NaN,NaN,2001.0,...,NaN,NaN,MERCEDES BENZ,OH 1628,OM-449-LA / MERC. BENZ,MERCEDES BENZ,V,NaN,NaN,NaN
1,NaN,NaN,XN6687,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,...,NaN,NaN,VOLARE,W 8,MWM 4.12,MWM,V,NaN,NaN,NaN
2,NaN,NaN,CBTV17,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,...,NaN,NaN,VOLVO,B 12,D12D / VOLVO,VOLVO,V,NaN,NaN,NaN
3,NaN,NaN,CJSH39,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,...,NaN,NaN,MERCEDES BENZ,O 500 RS,OM-457-LA / MERC. BENZ,MERCEDES BENZ,V,NaN,NaN,NaN
4,NaN,NaN,CPVR48,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,...,NaN,NaN,VOLARE,W 8,MWM 4.12,MERCEDES BENZ,V,NaN,NaN,NaN

In [19]:
df_final = pd.merge(df_tp, df_parquedir, on = 'ppu', how = 'left')

In [20]:
df_final.head()

,rutID,nombre,ppu,marca,modelo,tipo_vehiculo,fec_tra,color,resto_color,agno,...,marca_fantasia,modelo_fantasia,motor_fantasia,marcaMotor,vigencia,tipo_veh_trabajo,sucursales_cobertura,Unnamed: 41,REGION DOMICILIO,COMUNA DOMICILIO
0,NaN,NaN,TV4684,NaN,NaN,NaN,NaN,NaN,NaN,2001.0,...,MERCEDES BENZ,OH 1628,OM-449-LA / MERC. BENZ,MERCEDES BENZ,V,NaN,NaN,NaN,Región Metropolitana de Santiago,INDEPENDENCIA
1,NaN,NaN,XN6687,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,...,VOLARE,W 8,MWM 4.12,MWM,V,NaN,NaN,NaN,Región Metropolitana de Santiago,INDEPENDENCIA
2,NaN,NaN,CBTV17,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,...,VOLVO,B 12,D12D / VOLVO,VOLVO,V,NaN,NaN,NaN,Región de Ñuble,CHILLAN
3,NaN,NaN,CJSH39,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,...,MERCEDES BENZ,O 500 RS,OM-457-LA / MERC. BENZ,MERCEDES BENZ,V,NaN,NaN,NaN,Región del Libertador General Bernardo O'Higgins,RANCAGUA
4,NaN,NaN,CPVR48,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,...,VOLARE,W 8,MWM 4.12,MERCEDES BENZ,V,NaN,NaN,NaN,0,0

In [27]:
df_final.to_csv(URL+'/Traductores/Historial/Copia de Traducción.csv', index = False, encoding= 'utf-8')

KeyboardInterrupt: